<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" href="../static/css/style.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<meta charset="utf-8">
	<title>TP05 - ProgVisual 2022</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<header th:replace="/layouts/header::header"> </header>

	<div class="container col-xxl-8 px-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="images/beneficios-becas.png"
					class="d-block mx-lg-auto img-fluid shadow-lg mb-4"
					alt="Portal de capacitación" width="700" height="500"
					loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3"><span class="text-muted">Beneficios y Becas</span></h1>

			</div>
		</div>
	</div>
	<section class="container border-top">
		<p>Página en construcción...</p>

	</section>
	<footer th:replace="/layouts/footer::footer">		
	</footer>
</body>
</html>