<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" href="../static/css/style.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<meta charset="utf-8">
<title>TP05 - ProgVisual 2022</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<header th:replace="/layouts/header::header"> </header>

	<div class="container col-xxl-8 px-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="images/marketing.png"
					class="d-block mx-lg-auto img-fluid shadow-lg mb-4"
					alt="Marketing" width="700" height="500"
					loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3"><span class="text-muted">Marketing</span></h1>

			</div>
		</div>
	</div>
	<section class="container border-top">
		<h2 class="mt-4">Plan de Estudios del Curso de Marketing</h2>
		<p>El plan de estudios contiene los principales conceptos y
			herramientas de Marketing. Aprende Marketing digital y conceptos de economía para hacer crecer los negocios: Marketing de redes sociales, Facebook, SEO, YouTube, E-mail marketing, y mucho más.</p>
		<div class="mt-4 mb-5">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Materia</th>
					<th>Inicio</th>
					<th>Horario</th>
					<th>Finalización</th>
					<th>Modalidad</th>
					<th>Docente</th>
					<th>Duración en semanas</th>
				</tr>
			</thead>
				<tr>
					<td>Introducción al Marketing</td>
					<td>02 de Mayo</td>
					<td>Lunes. Miércoles: 21:00 a 23:00 hs</td>
					<td>31 de Septiembre</td>
					<td>Presencial</td>
					<td>Lic. P. de Mielle</td>
					<td>4 meses</td>
				</tr>
				<tr>
					<td>Introducción a la Economía</td>
					<td>03 de Mayo</td>
					<td>Martes, Jueves: 22:00 a 23:59 hs</td>
					<td>31 de Septiembre</td>
					<td>Presencial</td>
					<td>Lic. Mirtha H. de Puertas</td>
					<td>4 meses</td>
				</tr>
				<tr>
					<td>Contabilidad</td>
					<td>06 de Mayo</td>
					<td>Viernes 18:00 a 23:59 hs</td>
					<td>31 de Septiembre</td>
					<td>Presencial</td>
					<td>Cr. Gerardo C. Amoral</td>
					<td>4 meses</td>
				</tr>

			</table>
		</div>
	</section>
	<footer th:replace="/layouts/footer::footer">		
	</footer>
</body>
</html>